/* Standard for all elements !*/
*
{
    margin: 0px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

*::after,*::before
{
    content: "";
    display: inline-block;

}

/* Standerd for root */
:root
{
    scroll-behavior: smooth;
}

/* Standard for body & html elements*/
html,body
{
    width: 100%;
    
}

body
{
    height: auto;
}
/* Standard for ul element*/
ul
{
    list-style: none;
    list-style-position: inside;
}

/* Standard for a elament */
a
{
    text-decoration: none;
    color:inherit;
}

/* Standard for input element !*/
input,textarea
{
    outline: none;
    display: block;
    border: none;
}